In [1]:
import os
# Change native directory to root
os.chdir(os.path.dirname(os.getcwd()))

In [6]:
import glob
import pandas as pd
import numpy as np
import random
import pickle
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from src.utils.functions import validation

random.seed(123)
model_dir = 'models/'

In [7]:
build_list = glob.glob('./data/buildings/*.csv')
test_list = random.sample(build_list, int(len(build_list) * 0.1))
train_list = [x for x in build_list if x not in test_list]

In [4]:
test_list

['./data/buildings/226.csv',
 './data/buildings/170.csv',
 './data/buildings/119.csv',
 './data/buildings/1104.csv',
 './data/buildings/1453.csv',
 './data/buildings/1488.csv',
 './data/buildings/760.csv',
 './data/buildings/866.csv',
 './data/buildings/1713.csv',
 './data/buildings/1250.csv',
 './data/buildings/1299.csv',
 './data/buildings/1061.csv',
 './data/buildings/914.csv',
 './data/buildings/529.csv',
 './data/buildings/297.csv',
 './data/buildings/232.csv',
 './data/buildings/920.csv',
 './data/buildings/221.csv',
 './data/buildings/1311.csv',
 './data/buildings/250.csv',
 './data/buildings/1276.csv',
 './data/buildings/1353.csv',
 './data/buildings/1715.csv',
 './data/buildings/1116.csv',
 './data/buildings/917.csv',
 './data/buildings/762.csv',
 './data/buildings/163.csv',
 './data/buildings/1631.csv',
 './data/buildings/956.csv',
 './data/buildings/43.csv',
 './data/buildings/59.csv',
 './data/buildings/1513.csv',
 './data/buildings/331.csv',
 './data/buildings/1186.csv',
 './data/buildings/1739.csv',
 './data/buildings/659.csv',
 './data/buildings/1054.csv',
 './data/buildings/924.csv',
 './data/buildings/383.csv',
 './data/buildings/1516.csv',
 './data/buildings/503.csv',
 './data/buildings/1408.csv',
 './data/buildings/1654.csv',
 './data/buildings/1427.csv',
 './data/buildings/444.csv',
 './data/buildings/1008.csv',
 './data/buildings/506.csv',
 './data/buildings/197.csv',
 './data/buildings/213.csv',
 './data/buildings/1552.csv',
 './data/buildings/1425.csv',
 './data/buildings/1230.csv',
 './data/buildings/553.csv',
 './data/buildings/1533.csv',
 './data/buildings/139.csv',
 './data/buildings/1521.csv',
 './data/buildings/1138.csv',
 './data/buildings/1672.csv',
 './data/buildings/560.csv',
 './data/buildings/662.csv',
 './data/buildings/107.csv',
 './data/buildings/1202.csv',
 './data/buildings/188.csv',
 './data/buildings/1000.csv',
 './data/buildings/446.csv',
 './data/buildings/759.csv',
 './data/buildings/1602.csv',
 './data/buildings/1512.csv',
 './data/buildings/1284.csv',
 './data/buildings/923.csv',
 './data/buildings/1015.csv',
 './data/buildings/493.csv',
 './data/buildings/1632.csv',
 './data/buildings/1024.csv',
 './data/buildings/845.csv',
 './data/buildings/35.csv',
 './data/buildings/1042.csv',
 './data/buildings/815.csv',
 './data/buildings/657.csv',
 './data/buildings/1426.csv',
 './data/buildings/311.csv',
 './data/buildings/148.csv',
 './data/buildings/210.csv',
 './data/buildings/1159.csv',
 './data/buildings/1078.csv',
 './data/buildings/1327.csv',
 './data/buildings/1549.csv',
 './data/buildings/76.csv',
 './data/buildings/1121.csv',
 './data/buildings/1570.csv',
 './data/buildings/1251.csv',
 './data/buildings/687.csv',
 './data/buildings/187.csv',
 './data/buildings/934.csv',
 './data/buildings/819.csv',
 './data/buildings/1396.csv',
 './data/buildings/609.csv',
 './data/buildings/582.csv',
 './data/buildings/791.csv',
 './data/buildings/1191.csv',
 './data/buildings/1132.csv',
 './data/buildings/1245.csv',
 './data/buildings/1294.csv',
 './data/buildings/563.csv',
 './data/buildings/556.csv',
 './data/buildings/485.csv',
 './data/buildings/51.csv',
 './data/buildings/1555.csv',
 './data/buildings/1278.csv',
 './data/buildings/194.csv',
 './data/buildings/272.csv',
 './data/buildings/1364.csv',
 './data/buildings/1162.csv',
 './data/buildings/108.csv',
 './data/buildings/1733.csv',
 './data/buildings/854.csv',
 './data/buildings/525.csv',
 './data/buildings/259.csv',
 './data/buildings/1719.csv',
 './data/buildings/868.csv',
 './data/buildings/1204.csv',
 './data/buildings/1671.csv',
 './data/buildings/1136.csv',
 './data/buildings/1112.csv',
 './data/buildings/995.csv',
 './data/buildings/705.csv',
 './data/buildings/793.csv',
 './data/buildings/269.csv',
 './data/buildings/1685.csv',
 './data/buildings/701.csv',
 './data/buildings/159.csv',
 './data/buildings/855.csv',
 './data/buildings/1615.csv',
 './data/buildings/736.csv',
 './data/buildings/365.csv',
 './data/buildings/904.csv',
 './data/buildings/138.csv',
 './data/buildings/808.csv',
 './data/buildings/1063.csv',
 './data/buildings/1712.csv',
 './data/buildings/824.csv',
 './data/buildings/1600.csv',
 './data/buildings/524.csv',
 './data/buildings/704.csv',
 './data/buildings/411.csv',
 './data/buildings/397.csv',
 './data/buildings/867.csv',
 './data/buildings/284.csv',
 './data/buildings/430.csv',
 './data/buildings/1040.csv',
 './data/buildings/1009.csv',
 './data/buildings/947.csv',
 './data/buildings/782.csv',
 './data/buildings/600.csv',
 './data/buildings/104.csv',
 './data/buildings/595.csv',
 './data/buildings/1163.csv',
 './data/buildings/667.csv',
 './data/buildings/680.csv',
 './data/buildings/1259.csv',
 './data/buildings/816.csv',
 './data/buildings/1450.csv',
 './data/buildings/1664.csv',
 './data/buildings/1268.csv',
 './data/buildings/319.csv',
 './data/buildings/1225.csv',
 './data/buildings/1226.csv',
 './data/buildings/326.csv',
 './data/buildings/1710.csv',
 './data/buildings/1126.csv',
 './data/buildings/342.csv',
 './data/buildings/570.csv',
 './data/buildings/1221.csv',
 './data/buildings/1305.csv']

In [8]:
# Read the features from the csv file
features = pd.read_csv('data/social_features_test.csv', index_col=0)
# read metadata csv
metadata = pd.read_csv('data/EANLIJST_METADATA.csv', index_col=0, sep   = ';')
# ADD the functietype column to the features
features['function'] = metadata['Patrimonium Functietype']
# read more metrics from csv
features.isnull().sum()
features.dropna(inplace=True)
features['ID'] = features.index
# drop rows with kast as function
features = features[features['function'] != 'Kast']
features['morning'] = features.iloc[:,4:16].sum(axis=1)
features['evening'] = features.iloc[:,np.r_[:4,16:24]].sum(axis=1)
features['weekday'] = features.iloc[:,24:29].sum(axis=1)
features['weekend'] = features.iloc[:,29:31].sum(axis=1)
# scale yearly column to 0-1 with minmax scaler
subset = features[['yearly', 'weekend',  'evening']].copy()
subset['yearly'] = MinMaxScaler().fit_transform(subset['yearly'].values.reshape(-1,1))
subset

        yearly   weekend   evening
666   0.071996  0.295865  0.541792
399   0.022563  0.130884  0.326180
1544  0.116772  0.190230  0.348661
1655  0.008973  0.146399  0.396827
844   0.096520  0.213343  0.530799
...        ...       ...       ...
320   0.586307  0.221625  0.362090
944   0.213859  0.171083  0.270924
444   0.004852  0.269399  0.386193
778   0.235348  0.256797  0.615815
986   0.073034  0.188432  0.388656

[81 rows x 3 columns]

In [30]:
clust_num = 10
kmeans = pickle.load(open(model_dir+"kmeans{}.pkl".format(clust_num),  "rb"))
clusters = kmeans.predict(subset)
features['cluster'] = clusters

In [35]:
profiles = pd.read_csv('./data/st_p_kmeans{}.csv'.format(clust_num), index_col=0)
profiles

,0,1,2,3,4,5,6,7,8,9
ds,,,,,,,,,,
2019-01-01 00:15:00,0.000019,0.000017,0.000024,0.000021,0.000012,0.000055,0.000020,0.000019,0.000028,0.000007
2019-01-01 00:30:00,0.000019,0.000018,0.000024,0.000023,0.000012,0.000053,0.000020,0.000020,0.000029,0.000007
2019-01-01 00:45:00,0.000019,0.000017,0.000024,0.000022,0.000012,0.000047,0.000020,0.000019,0.000029,0.000008
2019-01-01 01:00:00,0.000019,0.000018,0.000024,0.000021,0.000012,0.000046,0.000020,0.000019,0.000029,0.000007
2019-01-01 01:15:00,0.000019,0.000018,0.000023,0.000021,0.000012,0.000046,0.000020,0.000021,0.000029,0.000007
...,...,...,...,...,...,...,...,...,...,...
2021-12-31 23:00:00,0.000019,0.000017,0.000019,0.000022,0.000013,0.000028,0.000019,0.000015,inf,0.000011
2021-12-31 23:15:00,0.000019,0.000016,0.000018,0.000022,0.000013,0.000028,0.000019,0.000013,0.000020,0.000009
2021-12-31 23:30:00,0.000018,0.000017,0.000018,0.000022,0.000013,0.000027,0.000019,0.000013,inf,0.000008
2021-12-31 23:45:00,0.000018,0.000016,0.000018,0.000022,0.000013,0.000027,0.000019,0.000013,inf,0.000010
2022-01-01 00:00:00,0.000018,0.000017,0.000018,0.000022,0.000013,0.000025,0.000019,0.000013,inf,0.000010

In [40]:
subset = features[['yearly', 'weekend',  'evening']].copy()
mae = {}
rmse = {}
smape = {}
for ID in features.index:
    ts = pd.read_csv('./data/buildings/{}.csv'.format(ID), usecols=['Power', 'ds'], index_col='ds')
    #print(ts)
    clust_ts = kmeans.predict(np.array(subset.loc[ID]).reshape(1, -1))
    ts_syn = profiles[str(clust_ts[0])].copy() * features.loc[ID, 'yearly']
    # measure the error
    mae[ID] = validation(ts.values, ts_syn, 'MAE')
    rmse[ID] = validation(ts.values, ts_syn, 'RMSE')
    smape[ID] = validation(ts.values, ts_syn, 'SMAPE')

In [41]:
# mean of smape dict values
mean_smape = np.mean(list(smape.values()))
# mean of mae dict values
mean_mae = np.mean(list(mae.values()))
# mean of rmse dict values
mean_rmse = np.mean(list(rmse.values()))
print("Mean of SMAPE: {}".format(mean_smape))
print("Mean of MAE: {}".format(mean_mae))
print("Mean of RMSE: {}".format(mean_rmse))

Mean of SMAPE: 29.68118999770497
Mean of MAE: 7.094519138069932
Mean of RMSE: 9.6445259395783

In [21]:
for clust_num in [10,11,12]:
    kmeans = pickle.load(open(model_dir+"kmeans{}.pkl".format(clust_num),  "rb"))
    subset = features[['yearly', 'weekend',  'evening']].copy()
    clusters = kmeans.predict(subset)
    features['cluster'] = clusters
    profiles = pd.DataFrame()
    # Create stanard profiles for each cluster
    for k, clust in enumerate(range(clust_num)):
        agg = pd.DataFrame()
        for i, ID in enumerate(features[features.cluster == clust].index):
            agg[ID] = pd.read_csv('./data/buildings/' + str(ID) + '.csv', index_col=0, usecols=['ds','Power'], parse_dates=['ds'])
            agg[ID] = agg[ID] / agg[ID].resample('A').sum().values[0]
        # drop the rows with any infinite values
        agg = agg[~np.isinf(agg).any(1)]
        # Create an average profile over columns
        agg = agg.mean(axis=1)
        profiles[clust] = agg
    mae = {}
    rmse = {}
    smape = {}
    for ID in features.index:
        ts = pd.read_csv('./data/buildings/{}.csv'.format(ID), usecols=['Power', 'ds'], index_col='ds')
        #print(ts)
        clust_ts = kmeans.predict(np.array(subset.loc[ID]).reshape(1, -1))
        ts_syn = profiles[str(clust_ts[0])].copy() * features.loc[ID, 'yearly']
        # measure the error
        mae[ID] = validation(ts.values, ts_syn, 'MAE')
        rmse[ID] = validation(ts.values, ts_syn, 'RMSE')
        smape[ID] = validation(ts.values, ts_syn, 'SMAPE')
    # make a dataframe with 3 dictionaries as columns
    temp_df = pd.DataFrame({'MAE': mae, 'RMSE': rmse, 'SMAPE': smape})
    temp_df.to_csv('./results/kmeans{}.csv'.format(clust_num))

In [42]:
# loop through csv files in the results folder and calculate the mean of each column
mean_df = pd.DataFrame()
for file in os.listdir('./results/'):
    if file.endswith(".csv"):
        temp_df = pd.read_csv('./results/' + file)
        mean_df[file] = temp_df.mean(axis=0)
mean_df.drop('Unnamed: 0', axis=0, inplace=True)
mean_df.drop('mean_results.csv', axis=1, inplace=True)
mean_df = mean_df.T
mean_df['order'] = mean_df.index.map(split_index)
mean_df.sort_values('order', inplace=True)
mean_df.drop('order', axis=1, inplace=True)
mean_df.to_csv('./results/mean_results.csv')

In [35]:
import re
pattern = re.compile('([a-z]+)(\d*)', re.I)
def split_index(idx):
    m = pattern.match(idx)
    if m:
        letters = m.group(1)
        numbers = m.group(2)
        if numbers:
            return (letters, int(numbers))
        else:
            return (letters, 0)